.require-section
    padding: 60px 0 0

.require-list
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    margin-top: 50px

    &__item
        width: 270px
        padding: 20px 0
        display: flex
        flex-direction: column
        align-items: center
        background-color: #F7F7F7

        p
            font-weight: bold
            font-size: 14px
            color: #232323

        svg
            max-width: 70px
            max-height: 50px
            margin-bottom: 20px
            color: white

            path, rect
                fill: black
